<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    
    <target name="logfile" xsi:type="File"  fileName="C:/TestsLogs/${shortdate}.log"
            layout="${uppercase:${level}} ${longdate}${newline}${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}${newline}Stack Trace\:${newline}${stacktrace}}${newline}" />
    <!--${longdate}   ${basedir} -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Warn" writeTo="logfile" />
    <!--
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>