<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="NLog" version="5.0.0-beta03" targetFramework="net45" />
  <package id="NLog.Config" version="4.3.10" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net45" />
  <package id="NuSpec" version="3.3.0-alpha20160215" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="SeleniumWebDrivers" version="1.0.0.4" targetFramework="net45" />
</packages>